.t-section-title {
  position: relative;
  padding-left: 1rem;
  font-size: 18px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    border-radius: 4px;
    background: #00bff0;
  }
}
